VERSION = '1.0.0'

manifest {
  description = 'Paprec full processing workflow' 
  author = 'National Laboratory for Scientific Computing'
  nextflowVersion = '>=23.10.0'
  mainScript = 'main.nf'
  version = VERSION
}

params.help_message = """
Paprec workflow v${VERSION}

Usage:
    nextflow run main.nf --dataDir /path/to/kg_data_repository --linkTable /path/to/table_db_updated_link.tsv


Input:
    * --dataDir: path to the folder where the experiment models, evaluation and predictions will be stored
    * --runningConfig: the path to a json file containing the workflow and execution configuration
    * --mode: the goal of the execution ( 'train': only training with the selected datasets and methods, 'test': only test on new data, 'train|test': execute both tasks )
    * --execution_step: the specific step from which the workflow will start, assuming the required files were prepared. It is only applicable when train is active in the mode input parameter

Output:
    * Transformed fasta sequences into numerical tabular tables
    * ML pipeline with trained models
    * Summary statistics and quality analysis reports
"""

process {

    executor = 'local'

    cpus = 5
}

profiles {
  standard {
    process.container = 'quay.io/nextflow/paprec:v1.0.0'
  }

  conda {
    conda.enabled = true
    conda.channels = 'salilab,conda-forge,bioconda,defaults'
    process.conda = "./paprec_env.yml"
  }
  
  singularity {
    process.container = 'quay.io/nextflow/bioteque:v1.1.0'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  
}
